@{
    Layout = "/Views/Shared/_Layout.cshtml"; 
}

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />


<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">
                            Register
                        </a>

                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody();
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        // To show the active tab based on the current URL
        document.addEventListener("DOMContentLoaded", function () {
            var currentPath = window.location.pathname.toLowerCase();
            var loginTab = document.querySelector('a[href="/Identity/Account/Login"]');
            var registerTab = document.querySelector('a[href="/Identity/Account/Register"]');
            if (currentPath.includes("/identity/account/login")) {
                loginTab.classList.add("active");
                registerTab.classList.remove("active");
            } else if (currentPath.includes("/identity/account/register")) {
                registerTab.classList.add("active");
                loginTab.classList.remove("active");
            }
        });


    </script>
    
}
